<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/Proxy/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IService" contract="IService"
                name="WSHttpBinding_IService">
                <identity>
                    <userPrincipalName value="DAMSER\damys" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>